In [ ]:
# ==========================
# 1. Importar bibliotecas
# ==========================
import pandas as pd

# ==========================
# 2. Definir caminho do ficheiro
# ==========================
ARQ_IN = r"C:\Users\1420844\Downloads\CP7_DESCRICAO_EXPORT_20250904.csv"

# ==========================
# 3. Ler ficheiro para DataFrame
# ==========================
df = pd.read_csv(ARQ_IN, sep=";", encoding="utf-8")  # ajustar separador/encoding se necessário

# ==========================
# 4. Visualizar DataFrame
# ==========================
df.head()

   CP4_BASE      CP7                              DESCRICAO_CP7
0      1000  1000001   A: R AÇORES Impares de 1 a 19; L: LISBOA
1      1000  1000002  A: R AÇORES Impares de 23 a 47; L: LISBOA
2      1000  1000003  A: R AÇORES Impares de 49 a 61; L: LISBOA
3      1000  1000004     A: R AÇORES Pares de 2 a 30; L: LISBOA
4      1000  1000005  A: R AÇORES Pares de 30A a 84D; L: LISBOA